<!-- ========================= FOOTER ========================= -->
<footer class="footer mt-auto py-4" style="background-color: #021139; color: white;">
  <div class="container">
    <div class="row">

      <!-- About / Logo -->
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">CartTopia</h5>
        <p>Your one-stop online store for everything trendy and affordable. Quality products delivered to your doorstep.</p>
      </div>

      <!-- Contact Info -->
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">Contact</h5>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope me-2"></i> info@carttopia.io</li>
          <li><i class="fa fa-phone me-2"></i> +880-543-678-9567</li>
          <li><i class="fa fa-map-marker me-2"></i> Sector-10, Uttara, Dhaka</li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">Follow Us</h5>
        <a href="#" class="text-light me-3"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="text-light me-3"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#" class="text-light me-3"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class="text-light"><i class="fab fa-linkedin fa-lg"></i></a>
      </div>

    </div>
    <hr class="border-light">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="small mb-0">&copy; 2026 CartTopia. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- ========================= FOOTER END // ========================= -->

<!-- JS Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('.thumb a').click(function(e){
      e.preventDefault();
      $('.mainImage img').attr('src', $(this).attr("href"));
    });
  });
</script>
